.main-chat
  .group-summary
    .group-summary__box
      %p.group-summary__box__group
        = @group.name
      %p.group-summary__box__member
        Member:
        - @group.group_users.each do |group_user|
          = group_user.user.name
    = link_to 'edit', class: "group-summary__btn" do
      Edit

  .messages
    = render @messages

  .from
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'from__text', placeholder: 'type a message'
      .from__box
        = f.label :image, class: 'form__box__image' do
          = icon("fas", "image")
          = f.file_field :image, class: 'from__box__hidden'
      = f.submit 'Send', class: 'from__submit'