.side-ber
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__icon
        %li.side-header__box__icon__edit
          =link_to new_group_path do
            = icon('fas', 'edit')
        %li.side-header__box__icon__cog
          =link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .side-main
    - current_user.groups.each do |group|
      .side-main__box
        = link_to '#' do
          %p.side-main__box__group-name
            = group.name
          %p.side-main__box__group-message
            まだメッセージはありません